@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  font-family: 'Poppins', sans-serif;
}
body{
  background: white;
}

li{
  list-style-type: none;
  cursor: pointer;
  position: relative;
  
} 

li:hover::before{
  position: absolute;
  content: ;
  height: 4px;
  width: 100%;
  background: #8f94a3;
  right: 0;
  color: #2a68ff;

}


.icon{
  cursor: pointer;
  width: 50px;

}

.card{
  background:rgba(228, 235, 250, 0.619);
} 